* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    background-color: white;
    column-gap: 220px;
}

.nav .item {
    display: flex;
    column-gap: 20px;
}

.nav .btn {
    display: flex;
    column-gap: 20px;
}

.nav .btn input {
    padding: 10px 30px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background-color: #0043ff8c;
}

.nav .btn .login {
    padding: 10px 30px;
    border-radius: 10px;
    cursor: pointer;
    border: 2px solid #0043ff8c;
    background-color: white;
    color: #0043ff8c;
}

.nav .item a {
    text-decoration: none;
    color: black;
    font-weight: 700;
    cursor: pointer;
}

.nav .item .home-btn {
    color: #0043ff8c;
    font-weight: 700;
}

.home {
    background-color: whitesmoke;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home .main-sec {
    display: flex;
    column-gap: 50px;
    /* background-color: red; */
    justify-content: center;
    align-items: center;
}


.home .right {
    width: 400px;
    height: 300px;
    margin: 78px;
    padding: 30px;
    border-bottom-left-radius: 50%;
    border-top-right-radius: 50%;
    border-top-left-radius: 100px;
    border-bottom-right-radius: 100px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(155deg, #a7ceff, #bfc9cb);
}


.home .left {
    padding: 30px;
    height: 500px;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    row-gap: 20px;
    flex-direction: column;
    width: 552px;
    /* background-color: green; */
}

.home .left .btn input {
    padding: 10px 30px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background-color: #0043ff8c;
}

.home .main-sec .left .txt1 {
    font-size: 4rem;
    font-weight: 700;
}

.home .right img {
    width: 50vw;
    filter: drop-shadow(20px 50px 25px #b3e3e3);
}

.loc-sec {
    height: 130px;
    /* background-color: red; */
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

.loc-sec .main-sec {
    background-color: white;
    display: flex;
    column-gap: 20px;
    border-radius: 10px;
    height: 160px;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    margin-top: -70px;
}

.loc-sec .main-sec .pick {
    padding: 30px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.loc-sec .main-sec .pick label {
    color: black;
    font-weight: 700;
}

.loc-sec .main-sec .pick p {
    border: 1px solid darkgrey;
    padding: 6px 20px;
    border-radius: 10px;
}

.loc-sec .main-sec .pick input {
    padding: 10px 30px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background-color: #0043ff8c;
}

.car-sec {
    height: 192vh;
    padding: 30px;
    /* justify-content: center; */
    flex-direction: column;
    display: flex;
}

.car-sec .btn input {
    padding: 10px 25px;
    border: 1px solid darkgray;
    border-radius: 30px;
    cursor: pointer;
    margin-top: 20px;
}

.car-sec .main-sec {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    column-gap: 10px;
    flex-wrap: wrap;
    row-gap: 10px;
}

.car-sec .main-sec .box {
    /* background: red; */
    overflow: hidden;
    width: 365px;
    padding: 20px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    border: 1px solid darkgray;
}

.car-sec .main-sec .box .details {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    row-gap: 15px;
}

.car-sec .main-sec .box .details .car-name {
    font-size: 23px;
    font-weight: 700;
}

.car-sec .main-sec .box .review {
    display: flex;
    column-gap: 5px;
}

.car-sec .main-sec .box .review i {
    color: orange;
}

.car-sec .main-sec .box .review p {
    color: darkgray;
}

.car-sec .main-sec .box .feature {
    display: flex;
    flex-wrap: wrap;
    column-gap: 70px;
    row-gap: 20px;
}

.car-sec .main-sec .box .feature p i {
    color: #0043ff8c;
    font-size: 20px;
}

.car-sec .main-sec .box .price {
    display: flex;
    border-top: 1px solid darkgray;
    column-gap: 167px;
    padding-top: 20px;
    align-items: center;
}

.car-sec .main-sec .box .price p {
    font-size: 20px;
    font-weight: 700;
}

.car-sec .main-sec .box .price button {
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background-color: #0043ff8c;
    height: 35px;
    width: 100px;
}

.car-sec .txt {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
}

.car-sec .txt .txt1 {
    font-size: 3rem;
    font-weight: 700;
}

.car-sec .txt .txt1 span {
    color: #0043ff8c;
}

.support-sec {
    height: 390px;
    padding: 30px;
    /* justify-content: center; */
    flex-direction: column;
    display: flex;
    background-color: whitesmoke;
}

.support-sec .txt {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
}

.support-sec .txt .txt1 {
    font-size: 3rem;
    font-weight: 700;
}

.support-sec .txt .txt1 span {
    color: #0043ff8c;
}

.support-sec .main-sec {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    column-gap: 10px;
    flex-wrap: wrap;
    row-gap: 10px;
}

.support-sec .main-sec .box {
    /* background: red; */
    padding: 20px;
    width: 575px;
    display: flex;
    column-gap: 36px;
    /* flex-direction: column; */
    row-gap: 20px;
}

.support-sec .main-sec .box i {
    font-size: 30px;
    background: #0043ff8c;
    width: fit-content;
    padding: 34px;
    border-radius: 15px;
}

.support-sec .main-sec .box .txt-sec {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.support-sec .main-sec .box .txt-sec .txt1 {
    font-size: 30px;
    font-weight: 700;
}

.achie-sec {
    height: 390px;
    padding: 30px;
    justify-content: center;
    flex-direction: column;
    display: flex;
    background-color: white;
}

.achie-sec .txt {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
}

.achie-sec .txt .txt1 {
    font-size: 3rem;
    font-weight: 700;
}

.achie-sec .txt .txt1 span {
    color: #0043ff8c;
}

.achie-sec .main-sec .box {
    background-color: white;
    width: 300px;
    height: 180px;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
    border-radius: 10px;
}

.achie-sec .main-sec .box .txt1 {
    font-size: 3rem;
    font-weight: 700;
}

.achie-sec .main-sec {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    column-gap: 10px;
    flex-wrap: wrap;
    row-gap: 10px;
}

.start-sec {
    height: 390px;
    padding: 30px;
    justify-content: center;
    flex-direction: column;
    display: flex;
    background-color: white;
}

.start-sec .main-sec {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(45deg, #17c5be, #1c243a);
    border-radius: 10px;
    padding: 30px;
    column-gap: 50px;
}

.start-sec .main-sec .left {
    /* background: greenyellow; */
    padding: 20px;
    height: 300px;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 20px;
}

.start-sec .main-sec .left .txt1 {
    font-size: 3rem;
    font-weight: 700;
}

.start-sec .main-sec .left .btn button {
    padding: 10px 30px;
    border: none;
    background-color: white;
    cursor: pointer;
    border-radius: 10px;
}

.start-sec .main-sec .right {
    /* background: rgb(47, 144, 255); */
    padding: 20px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 20px;
    width: 300px;
    align-items: center;

    /* width: 400px;
    height: 300px;
    margin: 78px;
    padding: 30px; */
    border-bottom-left-radius: 50%;
    border-top-right-radius: 50%;
    border-top-left-radius: 100px;
    border-bottom-right-radius: 100px;
    /* display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center; */
    background-image: linear-gradient(155deg, #a7ceff, #bfc9cb);
}

.start-sec .main-sec .right img {
    width: 50vw;
    filter: drop-shadow(20px 50px 25px #b3e3e3);
}

.foot-sec{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 50px;
    background: whitesmoke;
}

.foot-sec .item{
    display: flex;
    column-gap: 20px;
}

.foot-sec .item a{
    text-decoration: none;
    color: black;
}